/* css styles */



/* to fix the width of body and navbar with invisible scrollbar */
::-webkit-scrollbar {
    width: 0px;
}


.dropdown-menu {
  height: 120px;
  max-height:300px;
  overflow-y: scroll;
}

.tape {
    pointer-events: none;
}

.navbar-nav .dropdown-menu {
    min-width: 85px;
}